$white: #ffffff;
$black: #000000;
$disabled: #D3D7DA;
$border: #D3D7DA;
$border-form: #646464;
$hover-bg: #F4F7F9;

$text: #252525;
$text--lighten-1: #494949;
$text--lighten-2: #6E6E6E;
$text--lighten-3: #929292;
$text--lighten-4: #B6B6B6;
$text--lighten-5: #DBDBDB;

$primary--darken-5: #00172A;
$primary--darken-4: #002F55;
$primary--darken-3: #00467F;
$primary--darken-2: #005DA9;
$primary--darken-1: #0075D4;
$primary: #008CFE;
$primary--lighten-1: #1B99FF;
$primary--lighten-2: #38A6FF;
$primary--lighten-3: #54B2FF;
$primary--lighten-4: #71BFFF;
$primary--lighten-5: #8DCCFF;
$primary--lighten-6: #AAD9FF;
$primary--lighten-7: #D9EEFF;
$primary--lighten-8: #F0F8FF;

$grey--darken-5: #222222;
$grey--darken-4: #444444;
$grey--darken-3: #666666;
$grey--darken-2: #888888;
$grey--darken-1: #AAAAAA;
$grey: #CCCCCC;
$grey--lighten-1: #D5D5D5;
$grey--lighten-2: #DDDDDD;
$grey--lighten-3: #E6E6E6;
$grey--lighten-4: #EEEEEE;
$grey--lighten-5: #F7F7F7;

$success--darken-5: #082D19;
$success--darken-4: #0B4326;
$success--darken-3: #0F5A33;
$success--darken-2: #17864C;
$success--darken-1: #1EB366;
$success: #26E07F;
$success--lighten-1: #4AE594;
$success--lighten-2: #6EEAA9;
$success--lighten-3: #91EFBE;
$success--lighten-4: #A3F1C8;
$success--lighten-5: #B5F4D3;
$success--lighten-6: #C7F6DD;
$success--lighten-7: #D9F9E8;

$error--darken-5: #4F151C;
$error--darken-4: #641E27;
$error--darken-3: #792832;
$error--darken-2: #A43B49;
$error--darken-1: #CE4E5F;
$error: #F86175;
$error--lighten-1: #F97E8F;
$error--lighten-2: #FA9CA8;
$error--lighten-3: #FCB9C2;
$error--lighten-4: #FCC8CF;
$error--lighten-5: #FDD7DB;
$error--lighten-6: #FDE5E8;
$error--lighten-7: #FEF4F5;
